
h1
{
    color: rgba(14, 59, 90, 0.473);
    size: initial;
    
}
body
{
   background-image: url(https://t4.ftcdn.net/jpg/00/27/23/11/500_F_27231180_WUC4mbhaozBwsru0NikXnldATL1YjXR5.jpg)
   
}
body{
    background-size: 200ch

}


    






